#rojo{
    background-color: red;
width: 250px;
height: 250px;
}

#aqua{
    background-color: aqua;
    width: 250px;
height: 150px;
}

#violeta{
    background-color: blueviolet;
    width: 250px;
height: 250px;
}